{% include "header.html" %}

<div class="dark-pink">
    <div class="p-5 text-center bg-body-tertiary rounded-3 hero-section d-flex align-items-center justify-content-center"
         style="background-image: url('../static/images/about-bg.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                min-height: 80vh;
                color: white;">

        <h1 class="text-body-emphasis m-0">
            <b>About me</b>
        </h1>
    </div>

    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto text-center mt-5 pb-4">
        <p class="fs-5 fw-light lh-lg px-4">
            My name is Gilbert, I'm 22 years old and I live in Northern Italy. Actually I work in a factory as a
            metalworker, but lately I started thinking that I could do something different, so I started following
            courses about python and I had a lot of fun!
        </p>
        <p class="fs-5 fw-light lh-lg px-4">
            Despite nowadays, with the rise of AI, I've seen people take advantage of it to develop their ideas very
            fast, I wanted to start from the basic. Indeed, I believe that to learn something doing some hard work is
            always the best idea, so I decided that at least at the beginning I want to write personally all the rows
            of my code. In that way I can understand better what I'm doing and how everything works.
        </p>

        <p class="fs-5 fw-light lh-lg px-4">
            This is my first ever personal project. The inspiration arrived quite straightforward: by looking at a
            problem that a lot of people have at home. I wanted to create something simple to use, but with a lot of
            different sources of inspiration, I hope that you enjoyed it!
        </p>
        <p class="pt-5">Contact:</p>
        <p>sgil.grange@gmail.com</p>
    </div>
</div>

{% include "footer.html" %}