{% include 'header.html' %}

<div class="dark-pink" style="height:100%">
    <div class="container py-5">
        <h1 class="pb-5">
            {% if ingredients %}
            By Main Ingredient Search
            {% elif recipes %}
            Choose your recipe:
            {% endif %}
        </h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if ingredients %}
        <form method="post" action="/main-ingredient-search">
            {% elif recipes %}
            <form method="post" action="/name-search">
                {% endif %}
                {% if ingredients %}
                <label for="ingredients" class="form-label">Choose your main ingredient:</label>
                <input name="input" class="form-control" list="{{ ingredients }}" id="ingredients"
                       placeholder="Type to search...">
                <datalist id="{{ ingredients }}">

                    {% for ingredient in ingredients %}
                    <option value="{{ ingredient }}">
                        {% endfor %}
                </datalist>

                {% elif recipes %}
                <label for="recipes" class="form-label">Choose your recipe:</label>
                <input name="input" class="form-control" list="{{ recipes }}" id="recipes"
                       placeholder="Type to search...">
                <datalist id="{{ recipes }}">

                    {% for recipe in recipes %}
                    <option value="{{ recipe }}">
                        {% endfor %}
                </datalist>
                {% endif %}
                <input type="submit" value="Submit" class="btn btn-info btn-green btn-lg px-4 me-md-2 my-3">
            </form>
        </form>

    </div>

</div>

{% include 'footer.html' %}