<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeCook</title>
    {{ bootstrap.load_css() }}
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-1">
        <a class="navbar-brand nav-black fs-2" href="{{ url_for('home') }}"><b>WeCook</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link nav-black fs-5 px-lg-3 py-3 py-lg-4"
                                        href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link nav-black fs-5 px-lg-3 py-3 py-lg-4"
                                        href="{{ url_for('about') }}">About</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link nav-black fs-5 px-lg-3 py-3 py-lg-4"
                                        href="{{ url_for('logout') }}">Logout</a>
                </li>
                <li class="nav-item"><a class="nav-link nav-black fs-5 px-lg-3 py-3 py-lg-4"
                                        href="{{ url_for('get_favorites') }}">My Favorites</a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link nav-black fs-5 px-lg-3 py-3 py-lg-4"
                                        href="{{ url_for('register') }}">Register</a>
                </li>
                <li class="nav-item"><a class="nav-link nav-black fs-5 px-lg-3 py-3 py-lg-4"
                                        href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <div class="dropdown d-flex align-items-center h-100">
                        <a class="btn btn-info btn-header btn-lg px-4 me-md-2 dropdown-toggle w-100" href="#"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Start searching
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('main_ingredient_search') }}">
                                By main ingredient</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('name_search') }}">By name</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('category_search') }}">By category</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('area_search') }}">By area</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
